{% extends '_layout.njk' %}

{% block content %}

  <h2>Add Manager</h2>
  <br/>
  <form method="POST" action="/admin/add-manager">
    <input type="hidden" name="crumb" value="{{crumb}}"/>
    <div class="form-group">
      <label for="managerName">Manager Name</label>
      <input type="text" class="form-control" id="managerName" name="managerName" required>
    </div>
    <div class="form-group">
      <label for="primaryEmail">Primary Email</label>
      <input type="email" class="form-control" id="primaryEmail" name="primaryEmail" required>
    </div>
    <div class="form-group">
      <label for="secondaryEmail">Secondary Email</label>
      <input type="email" class="form-control" id="secondaryEmail" name="secondaryEmail">
    </div>
    <button type="submit" class="btn btn-primary">Add Manager</button>
  </form>

{% endblock %}
