{% extends '_layout.njk' %}

{% block content %}

<h2>Overview</h2>
<hr />

<p>The Dream League is a private fantasy football competition. The purpose of this application is to manage the finances for the competition for all dream league managers.</p>

<p>The full dream league website can be found at <a href="https://www.dreamleaguefantasyfootball.co.uk/">Dream League</a></p>
{% endblock %}
