{% extends '_layout.njk' %}

{% block content %}

<h2>History</h2>
<br />

<table class="table">
    <tr>
        <th style="text-align:center">
            Year
        </th>
        <th style="text-align:center">
            Most Money
        </th>
        <th style="text-align:center">
            Most Fivers
        </th>
        <th style="text-align:center">
            Least Fivers
        </th>
        <th style="text-align:center">
            Most Weekly
        </th>
        <th style="text-align:center">
            Least Weekly
        </th>
        <th style="text-align:center">
            Biggest Jackpot
        </th>
    </tr>

{% for item in Model %}
    <tr>
        <td style="text-align:center">
           
        </td>
        <td style="text-align:center">
            
        </td>
        <td style="text-align:center">
            
        </td>
        <td style="text-align:center">
            
        </td>
        <td style="text-align:center">
            
        </td>
        <td style="text-align:center">
            
        </td>
        <td style="text-align:center">
           
        </td>
    </tr>
{% endfor %}

</table>


{% endblock %}
