{% extends '_layout.njk' %}

<br />
<div class="jumbotron">
  <h1>Dream League Finance</h1>
  <p class="lead">Private Fantasy Football League Finances</p>
</div>

<div class="row">
  <div class="col-md-4">
      <div class="panel panel-primary">
          <div class="panel panel-heading">
              <h3 style="text-align:center">Weekly Winners</h3>
          </div>
          <div class="panel-body">

          </div>

      </div>
  </div>
  <div class="col-md-4">
      <div class="panel panel-primary">
          <div class="panel panel-heading">
              <h3 style="text-align:center">Last Fivers Won</h3>
          </div>
          <div class="panel-body">

          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="panel panel-primary">
          <div class="panel panel-heading">
              <h3 style="text-align:center">Current Jackpot</h3>
          </div>
      <div class="panel-body">

      </div>
      </div>

  </div>
</div>
